* {
  margin: 0%;
  color: #cfcfcf;
  box-sizing: border-box;
}
.screen {
  height: 100vh;
  /*   overflow-y: hidden; */
  flex: 1;
  display: flex;
  align-items: flex-start;
  animation: ease-in fadein 100ms;
  padding: 30px;
}

::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

.scroll-area::-webkit-scrollbar {
  width: 8px;
  background-color: rgb(0, 0, 0, 0.15);
}
::-webkit-scrollbar-thumb {
  height: 20px !important;
  width: 15px;
  border-radius: 10px;
  background-color: rgba(187, 187, 187, 0.25);
}

@font-face {
  font-family: mulli;
  src: url("./Muli-Black.ttf");
}
.strong-text {
  font-family: mulli;
}
p,
label,
textarea,
table,
td {
  font-size: 12px;
  padding: 0%;
  margin: 0%;
}
input,
select{
  font-size: 15px !important;
  height: 4vh;
  border: none!important;
}
option{
  background-color: #505050!important;
  color: #d6d6d6!important;
  font-size: 18px!important;
}
label {
  color: #b8b8b8;
}
input,
textarea {
  border: none;
  border: solid 1px #8b8b8b;
  width: 100%;
  background-color: transparent;
  padding: 5px 5px !important;
}
.borderless-input:focus {
  border: none;
}
input:focus {
  outline: none;
  border: 1px solid #81c91f;
}
::placeholder {
  color: rgb(104, 104, 104);
  font-size: 0.85rem;
  text-transform: lowercase;
}
select {
  background-color: transparent !important;
  border: solid 1px #8b8b8b;
  width: 100%;
}
select:focus {
  outline: none;
  outline-color: transparent;
}
option {
  background-color: #b1b1b1;
  color: #272727;
  height: 200px !important;
}
option:focus {
  border: solid 10px grey !important;
  outline: none !important;
}
a {
  color: #ffffff !important;
  margin: 0em 0rem;
}
a:hover {
  text-decoration: none !important;
}
.bg-grey {
  background-color: #555555;
}
.lines-bg {
  background: repeating-linear-gradient(
    -50deg,
    #303030 40px,
    #303030 46px,
    #2e2e2e 50px,
    #2e2e2e 51px
  );
}

.scroll-area {
  overflow: overlay;
}

.hand-pointer {
  cursor: pointer !important;
}
.modal-outside {
  z-index: 2;
  position: fixed;
  top: 0%;
  left: 0%;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.modal-window {
  box-shadow: 4px 5px 10px 3px rgba(0, 0, 0, 0.3);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  animation: linear show-up 200ms;
  outline: none;
  z-index: 3;
}
.show-up {
  transform: scale(1);
  animation: show-up 200ms;
}

.show-down {
  transform: scale(0);
  animation: show-down 200ms;
}
@keyframes show-up {
  0% {
    transform: scale(0);
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes show-down {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  75% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}

.close-button,
.lock-button {
  cursor: pointer;
  transition: all 150ms;
}
.close-button:active,
.lock-button:active {
  transform: scale(1.5);
}
.spin {
  animation: spin 1s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.shadows {
  box-shadow: 3px 3px 13px 3px rgba(10, 10, 10, 0.3);
}
.pagination {
  display: flex;
  justify-content: space-between;
  align-items: center;
  outline: none;
}

.center-all {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.flex-1 {
  flex: 1;
}

